<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.350837448085-bpinls3kgcueqmlv6u00tlqegmcqvbnp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>350837448085-bpinls3kgcueqmlv6u00tlqegmcqvbnp.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Regular.ttf</string>
		<string>gothicb.ttf</string>
	</array>
</dict>
</plist>
